
#edit {
    font-family:sans-serif;
    border-collapse: collapse;
    width: 70%;
    align-content: center;
    word-wrap: break-word;
}

#edit td, #edit th {
    padding: 7px;
}



#edit tr:hover {
    background-color: #ddd;

}

#edit th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006747;
    color: white;
}
