body 
{font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
  

}

form {border: 3px } 


input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #006747;
  color: white;
  padding: 14px 20px;
  margin: 15px 420;
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}



.form-group {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
 
}

.reset{
  
  float: right;
  margin-right: 5px;
}

