.creditCardForm {
    max-width: 700px;
    background-color:aquamarine;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 75px;
	padding: 30px 50px;
    color: #4c4e56;
    
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.deadlines{
    width: 70%;
    text-align: center;
    align-self: center;
    margin-left: 200px;
    margin-right: 100px;

}

.deadlines tr{
    height: 30px;
    text-align: center;
}

.navbar-brand active{
  background-color: whitesmoke;
  color: black;
  text-emphasis: 15px;
}

div#myForm{
    text-align:center;
    border:1px solid #ccc;
    width:300px;
    float: center;
    padding:0 50px 15px;
    margin-top:20px;
    /* box-shadow:0 0 15px; */
    border-radius:6px;
    /* float:left */
    }
        hr{
        margin-top:-5px
        }
        label{
        float:center;
        font-size:16px
        }

        input[type="submit"]{
            /* width:20%; */
            /* background-color:#2BC1F2; */
            border:none;
            color:black;
            font-size:18px;
            /* font-weight:700; */
            cursor:pointer;
            font-family:'Ubuntu',sans-serif
            }