.multiselect {
  width: 200px;
   left: 0% !important;
   right: 150% !important;
   text-align: center !important;
   transform: translate(150%, 0) !important;
 }
 
 .selectBox {
   position: relative;
   margin-left: 20px;
   margin-right: 20px;
 }
 
 .selectBox select {
   width: 100%;
   font-weight: bold;
 }
 
 .overSelect {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
 }
 
 #checkboxes {
   display: none;
   border: 1px #dadada solid;
 }
 
 #checkboxes label {
   display: block;
 }
 
 #checkboxes label:hover {
   background-color: #1e90ff;
 }
 #align{
   text-align: center;
 }
 #align2{
   text-align: center;
 }
 #align9{
   text-align: right;
 }

 #Choose_Program
 {
   margin-left: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px solid;
   border-radius: 5px;
 }

 #tr
 {
   font-weight:normal;
 }

 #demo
 {
   text-align: center;
   color: red;
   font-weight: bold;
   font-size: 15px; 
 }
 table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }
 
 tr:nth-child(even) {
   background-color: #dddddd;
 }

 /* for proceed to payment button in registration.ejs page */
 .proceedPaymentButton {
   color: white;
   background-color: #006747;
 }

 /* For navigation bar  */
 .container-fluid{

 background-color: #006747;
 color: white;
 font-size:18px;
 font-weight: bold;
 /* font-family: "Comic Sans MS", cursive, sans-serif; */
 font-family: "Times New Roman", Times, serif;
 }

 /* For select message in registration.ejs */

.selectMsg{

 color: #006747;
 text-align: center;
}

.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
 position: relative;
 background-color: #fefefe;
 margin: auto;
 padding: 0;
 border: 1px solid #888;
 width: 80%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 -webkit-animation-name: animatetop;
 -webkit-animation-duration: 0.4s;
 animation-name: animatetop;
 animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
 from {top:-300px; opacity:0} 
 to {top:0; opacity:1}
}

@keyframes animatetop {
 from {top:-300px; opacity:0}
 to {top:0; opacity:1}
}

/* The Close Button */
.close {
 color: white;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

/* .close:hover, */
.close:focus {
 color: white;
 text-decoration:none;
 cursor: pointer;
}

.modal-header {
 padding: 2px 16px;
 background-color: #006747;
 color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
 padding: 2px 16px;
 background-color: #006747;
 color: white;
}
#myBtn {
 background-color: #006747;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}
#modalBtn{
 background-color: white;
 color: black;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}
 
.topnav {
 width: 45%;
 position: relative;
 overflow: hidden; 
 background-color:#006747;
}

.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav li{
 border-right: 5px solid #bbb;
}

#yesNo
{
 font-size: 15px;
 margin-left: 40px;
}

#yes
{
 color: green;
 margin-left: 80px;
}

#no
{
 color:red;
}

a
{
 cursor: pointer;
 text-decoration:none;
}

a:hover
{
background-color: powderblue;
}
a.active{
 background-color:cadetblue;
 color: black;
}
.container label {
 float:left;
 width:25%;
 text-align:right;
 margin-right:5px; /* optional */
}
.container input {
 float:left;
 width:30%;
}

.input{
 border: 1px solid ;
 border-radius: 5px;
 height: 25px;
}
