
#blueisgreat {color: blue;}
.body {
	text-align:center;
	background-image:url("background.jpg");
}

.greenonwhite
 {
	color:green; background-color: white;
	}
.borderone
{
	border-style: dashed;
    border-width: 3px;
	border-color: #6495ED;
	margin-left: 100px;
	margin-right: 100px;
}
.bordertwo
{
	border-style: solid;
	border-width: 5px;
	border-color: #008000;
	margin-left:400px;
	margin-right:400px;
	
}
