<% include header %>
<div id="demo"></div>
<div class="container" id="align">

  <br>

  <div id="errorMsg"> </div>

  <form action="totalcount.html">
    <input style="background-color: rgb(167, 167, 240)" type="Submit" value="Sign Up">
  </form>
  <br>

  <br>
  <form>

    <p> User Name: <input type="text" id="userName" name="userName" placeholder="Enter User Name"> </p>
    <br>
    <p> Password: </t><input type="password" id="userPwd" name="Password" placeholder="Enter Password"> </p>

    <br>

    <form action="PaymentDetails">
      <button style="background-color:lightblue" onclick="user1()">Login</button>
      <input style="background-color: rgb(167, 167, 240)" type="Submit" value="Reset Password">
      
    </form>
    <br>
    <br>


    <br>


    <script>

      function user1() {

        var user = document.getElementById('userName').value
        var pass = document.getElementById('userPwd').value
        if ((user == "darla" && pass == "darla") || (user == "becky" && pass == "becky") || (user == "lori" && pass == "lori")) {
          window.open("PaymentDetails");
        } else {

          document.getElementById('demo').innerHTML = "Enter valid User Name or Password";

        }
      }
    </script>
</div>
</body>
<% include footer %>