
<% include header %>

<!-- <img src="presentation_slide.jpg"> -->
<!-- <div class="col-md-5"></div> -->
<h1 style="text-align: center">Important Dates</h1>
<div class="col-md-4"></div>
<div class="col-md-4"></div>
<br>

<div class="col-md-3"></div>
<table id="edit">
    <thead>
        <tr>
            <th>
                Program Name
            </th>
            <th>Date</th>
        </tr>
    </thead>
    <% for(let i=0; i < deadlines.length;i++){ %>
    <tr>
        <td>
            <%= deadlines[i].programName %>
        </td>
        <td>
            <%= deadlines[i].date%>
        </td>
        <!-- <td> -->
            <!-- <button type="submit" class="btn btn-warning">Modify</button> -->
            <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateDeadline">Modify</button> -->
            <!-- &emsp;&emsp; -->
            <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
        <!-- </td> -->
    </tr>
    <%  } %>
</table>

<br><br><br><br>
<% include footer %>