<% include headerAdmin %>

<br><br><br><br>

<div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <h1>Database is deleted successfully </h1>
        </div>
    </div>

<% include footerAdmin %>