<% include header %>

<div class="row">
  <div class="col-md-5"></div>

  <div class="col-md-6">

    <h3><b>Faculty Registration </b></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-5"> </div>
  <p style="font-weight:bold; color:green;font-size: 15px">To know the Registration rate please <a href="/RegistrationFee">click
      here</a></p>
</div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4"> </div>
    <form name="faculty" id="Faculty" method="POST" action="/send">
      <div class="col-md-4" style="text-align: right">
        <button id="myBtn">Get Coupon Code</button>
      </div>
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">Close&times;</span>
            <h2>Receive a coupon code for reduced registration fees</h2>
          </div>
          <div class="modal-body">

            <input type="email" name="emailId" id="validate_email" placeholder="Enter email" required><br /><br />
          </div>
          <div class="modal-footer">
            <button id="modalBtn" type="submit" onclick="verifyFaculty(document.getElementById('validate_email').value)">Send
              coupon code</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <form id="Faculty" method="POST" action="/facultyRegistration">
    <br>
    <br>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: right">
        <label for="firstName">First Name *: </label>

        <input class="input" type="text" oninput="change()" id="firstName" name="firstName" placeholder="First name"
          required>
      </div>

      <div class="col-md-4"> </div>
      <div class="col-md-8" style="text-align: right">
        <label for="lastName">Last Name *: </label>
        <input class="input" type="text" oninput="change()" id="lastName" name="lastName" placeholder="Last name"
          required>
      </div>

      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="email">Email Address *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="email" name="email" placeholder="Email address" required>
        <!-- </div> -->
      </div>


      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="contactNumber">Contact Number *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="contactNumber" name="contactNumber" placeholder="Contact number" required>
        <!-- </div> -->
      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="address">Address *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="address" name="address" placeholder="Address" required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="institutionName">Institution Name *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="institutionName" name="institutionName" placeholder="Institution Name"
          required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="institutionCity">Institution City *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="institutionCity" name="institutionCity" placeholder="Institution City"
          required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="institutionState">Institution State *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="institutionState" name="institutionState" placeholder="Institution State"
          required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="zipcode">Zipcode *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="zipcode" name="zipcode" placeholder="Zipcode"
          required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="country">Country *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="country" name="country" placeholder="Country"
          required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="positionTitle">Position Title *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="positionTitle" name="positionTitle" placeholder="Position Title"
          required>
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="Faculty_Coupon">Enter Coupon Code *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="Faculty_Coupon" name="Faculty_Coupon" placeholder="Enter valid coupon code">
        <!-- </div> -->

      </div>

      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="dietaryRestrictions">Dietary Restrictions *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-8" style="text-align: left"> -->
        <select class="input" name="dietaryRestrictions">
          <option value="Regular">Regular</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Gluten-free">Gluten Free</option>
        </select>
        <!-- <input type="text" id="Faculty_Dietary_Restrictions" name="Faculty_Dietary_Restrictions" placeholder="Dietary Restrictions"
      required> -->
        <!-- </div> -->

      </div>
    </div>
</div>
<table>
  <tr>

    <div class="multiselect">
      <th id="knight">
        <div class="selectBox" onclick="showCheckboxes()">
          <select>
            <option>Choose a program you are interested in?</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes">
          <label for="one">
            <input type="checkbox" id="OnlineBreakouts" value="ob" onclick="myFunction(1)" />Online Breakouts</label>
          <label for="two">
            <input type="checkbox" id="HighQualityOERs" value="hq" onclick="myFunction(2)" />High Quality OERs</label>
          <label for="three">
            <input type="checkbox" id="BuildingSchool" value="bs" onclick="myFunction(3)" />Building a School Culture
            that Empowers</label>
          <label for="four">
            <input type="checkbox" id="LearnerEngagement" value="bs" onclick="myFunction(4)" />Learner Engagement in an
            Online Course</label>
          <label for="five">
            <input type="checkbox" id="InnovativeIntegration" value="bs" onclick="myFunction(5)" />Innovative
            Integration with iPaaS</label>
          <label for="six">
            <input type="checkbox" id="ImprovingStudent" value="bs" onclick="myFunction(6)" />Improving Student
            Achievement</label>
          <label for="seven">
            <input type="checkbox" id="GraphicContent" value="bs" onclick="myFunction(7)" />WARNING: Graphic Content</label>
          <label for="eight">
            <input type="checkbox" id="FocusingData" value="bs" onclick="myFunction(8)" />Focusing the Data</label>
          <label for="nine">
            <input type="checkbox" id="DesigningTowardsABetterEducation" value="bs" onclick="myFunction(9)" />Designing
            Towards A Better Education</label>
        </div>
    </div>

    </p>
    </th>
    <th>
      <textarea id="Choose_Program" name="programs" rows="8" cols="70" required readonly></textarea></th>
    <th>
      <p id="yesNo">Are you done with the selection?<br><br>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <a id="yes" onclick="fixFunction()" style="text-decoration:none"> Yes &#10004 </a>
        &nbsp;&nbsp;
        <a id="no" onclick="noFunction()" style="text-decoration:none"> No &#x2717 </a></p>
    </th>

  </tr>
</table>
<br> <br>

<!-- <form id="proceedform" action="payment"> -->
<div class="row">
  <div class="col-md-12" style="text-align: center">
    <br>

    <button class="proceedPaymentButton" type="submit">Proceed to Payment</button>
  </div>
</div>
<!-- </form> -->
</form>



<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<script>
  var expanded = false;
  var selec = "";
  var res = "";

  var checkBox = document.getElementById("OnlineBreakouts");
  var checkBox1 = document.getElementById("HighQualityOERs");
  var checkBox2 = document.getElementById("BuildingSchool");
  var checkBox3 = document.getElementById("LearnerEngagement");
  var checkBox4 = document.getElementById("InnovativeIntegration");
  var checkBox5 = document.getElementById("ImprovingStudent");
  var checkBox6 = document.getElementById("GraphicContent");
  var checkBox7 = document.getElementById("FocusingData");
  var checkBox8 = document.getElementById("DesigningTowardsABetterEducation");

  function showCheckboxes() {
    var checkboxes = document.getElementById("checkboxes");
    if (!expanded) {
      checkboxes.style.display = "block";
      expanded = true;
    } else {
      checkboxes.style.display = "none";
      expanded = false;
    }
  }

  function myFunction(x) {

    if (x == 1 && checkBox.checked == true) {
      document.getElementById("Choose_Program").value = "Ashley Walls, Blue Springs Freshman Center " + "\n" + " Make learning more exciting with an online escape rooms! Jeopardy is a game of the past! In this session you will see if you have what it takes to breakout, see two different ways that online escape rooms can be formatted, and how they have been successfully implemented.";
      // selec+="Online Breakouts, ";
    }

    if (x == 2 && checkBox1.checked == true) {
      document.getElementById("Choose_Program").value = "Caleb Puckett, Park University " + "\n" + "\n" + "As resource access and cost become increasingly important considerations in course development, some institutions have begun adopting open access resources (OER) in place of traditional textbooks and course materials. The purpose of this session is to highlight a range of high quality OERs and discuss their value in courses.";
      // selec+=" High Quality OERs,";
    }

    if (x == 3 && checkBox2.checked == true) {
      document.getElementById("Choose_Program").value = "Rena Hawkins and Eric Carlin, Maple Elementary School " + "\n" + "\n" + "Jimmy Casas states, No one person is responsible for determining your success and no one is responsible for your morale but you. Learn ideas, including monthly hashtags, personalized professional development, and staff challenges to empower your school family. Build a school culture where collaboration and innovation are the norm!";
    }

    if (x == 4 && checkBox3.checked == true) {
      document.getElementById("Choose_Program").value = "Leslie Umstadt & Valorie Engholm, Park University " + "\n" + "\n" + "Getting students involved and engaged can be a challenge for any instructor. In the online community engagement can be difficult to incorporate and difficult to assess. This presentation will offer practical ways to increase student engagement in the online classroom from the beginning of a course to the end.";
    }

    if (x == 5 && checkBox4.checked == true) {
      document.getElementById("Choose_Program").value = "Steve Setzer, Kimono" + "\n" + "\n" + "Kimono’s integration platform as a service (iPaaS) makes complex integrations simple and helps districts share roster and learning data between applications. See how you can connect both cloud and on-premise applications to your SIS using the preferred data standard and integration method for each app.";
    }

    if (x == 6 && checkBox5.checked == true) {
      document.getElementById("Choose_Program").value = "Amanda Ketay, Gauge" + "\n" + "\n" + "Choosing an assessment management system can raise a heap of questions, but with Gauge, we believe it all boils down to one: Does it improve student achievement? Gauge turns possibility into reality. We will take a look at how Gauge works, and how it can be a solution for your school!";
    }

    if (x == 7 && checkBox6.checked == true) {
      document.getElementById("Choose_Program").value = "Alison Crane & Abby Cornelius, Blue Valley North High School" + "\n" + "\n" + "Learn how basic elements of graphic and web design can bring students to greater and more personalized understanding of content. Canvas tips and tricks that empower students to choose their own learning paths as well as an introduction to Adobe Spark and Canva will be presented.";
    }

    if (x == 8 && checkBox7.checked == true) {
      document.getElementById("Choose_Program").value = "Andy Hall and Dr. Mike Brown, Platte County R-III School District" + "\n" + "\n" + "Data rich, information poor,is a common complaint in schools. Finding and using tools to take the data flashlight and turn it into a data laser can help schools of all kinds work efficiently, improve performance, and fuel continuous growth, from the strategic plan to data binders, and everywhere in between.";
    }

    if (x == 9 && checkBox8.checked == true) {
      document.getElementById("Choose_Program").value = "Abby Cornelius and Alison Crane, Blue Valley North High School" + "\n" + "\n" + "In this session, we will delve into the world of design thinking and its essential use for solving some of education's most wicked problems. Attendees will work through a design challenge and learn how to implement this process, empowering both students AND educators.";
    }
    // fixFunction(selec);
  }

  function fixFunction() {
    if (checkBox.checked == true) {
      selec += "Online Breakouts" + ", ";
    }
    if (checkBox1.checked == true) {
      selec += "High Quality OERs" + ", ";
    }

    if (checkBox2.checked == true) {
      selec += "Building School" + ",";
    }

    if (checkBox3.checked == true) {
      selec += "Learner Engagement" + ", ";
    }
    if (checkBox4.checked == true) {
      selec += "Innovative Integration" + ", ";
    }
    if (checkBox5.checked == true) {
      selec += "Improving Student" + ", ";
    }
    if (checkBox6.checked == true) {
      selec += "Graphic Content" + ", ";
    }
    if (checkBox7.checked == true) {
      selec += "Focusing Data" + ", ";
    }
    if (checkBox8.checked == true) {
      selec += "Designing Towards A Better Education" + ", ";
    }
    res = selec;
    document.getElementById("Choose_Program").value = selec;
    selec = "";
    document.getElementById("Choose_Program").readOnly = true;
  }

  function noFunction() {
    document.getElementById("Choose_Program").value = "";
    checkBox.checked = false;
    checkBox1.checked = false;
    checkBox2.checked = false;
    checkBox3.checked = false;
    checkBox4.checked = false;
    checkBox5.checked = false;
    checkBox6.checked = false;
    checkBox7.checked = false;
    checkBox8.checked = false;

  }

  function verifyFaculty(email) {

    console.log("Hello");
    let index = email.indexOf("@");

    let extension = email.substr(index);

    let user = email.substr(0, index);

    if (user.length == 7 || extension != "nwmissouri.edu") {
      alert("You have entered an invalid email address!");
      document.faculty.emailId.focus();
      return false;
    }
  }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/verifyFaculty.js"></script>

<% include footer %>