<% include header %>
<div class="col-md-12" style="text-align: center">
       <h1> You are successfully registered for the conference. Please bring your Northwest faculty ID at the time of conference. Thank you.
           </h1>
     
        <br>
        <br>
        <br>
        <br>
    </div>


<% include footer %>