</body>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <img class=img-circle src="/images/nw.jpg" alt="picture" height="100" width="100">
        </div>
        <div class="col-md-3" style="text-align: center">
            Our Address<br>
            J.W. Jones Student Union<br>
            800 University Drive<br>
            Maryville, MO 64468
        </div>
    </div>
</div>

</html>