<link type="text/css" rel="stylesheet" href="/css/forgot.css" />

<body>
        <div class="container">
          <h1>Reset Password</h1>
          <div class="col-md-4"></div>
          <div class="col-md-4">
      
          <form method="POST" action="/reset/token">
            
            <label for="password"><b>New Password</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;

            <input type="password" placeholder="Enter New Pasword" name="password" required>
            
          </div>
          
            <label for="confirm"><b>ConfirmPassword</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <input type="password" placeholder="Confirm New Pasword" name="confirm" required>
            <input type="hidden" name="token" value="<%= token %>"/>
            
            <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
            <button type="submit" class="registerbtn">Update Password</button></div>
            </div>  
          </form>
      
        </div>
      
      </body>