<br><br>
  <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;Please enter the registered email address</h2><br><br>
</div>
<form method="post" action="/forgot">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" placeholder="email" required>
      <br>
      <button type="submit" class="btn btn-success">Reset</button>
    </div>
 
        </div>
   
</form>