<!DOCTYPE html>
<html>

<head>
  <link type="text/css" rel="stylesheet" href="/css/test.css" />
  <link type="text/css" rel="stylesheet" href="/css/demo.css" />
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />
  <link type="text/css" rel="stylesheet" href="/css/admin.css" />
  <link rel="icon" href="images/pixel.png" sizes="128x128">
  <title>.EDU Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src="../assets/js/Test.js"></script> -->
</head>

<body style="background-color:whitesmoke">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/conference">.EDU Conference</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="conference">Conference
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/Schedule">Schedule</a>
            </li>
            <li>
              <a href="/Deadlines">Deadlines</a>
            </li>
            <li>
              <a href="/TravelAndLodging">TravelAndLodging</a>
            </li>
            <li>
              <a href="/RegistrationFee">Registration Fee Details</a>
            </li>
          </ul>
        </li>

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="registration" name="Registration">Registration
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/attendee" name="attendee">Attendee</a>
              </li>
              <li>
                <a href="/student">Student</a>
              </li>
              <li>
                <a href="/faculty">Faculty</a>
              </li>
              <li>
                <a href="/vendor">Vendor</a>
              </li>
            </ul>
          </li>
        </ul>
        <li>
          <a href="/Proposals">Submit Proposals</a>
        </li>

        <li>
          <a href="/contact">Contact</a>
        </li>



        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
       


        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
        </ul>
    </div>
  </nav>