<!DOCTYPE html>
<html>

<head>
  <link type="text/css" rel="stylesheet" href="/css/test.css" />
  <link type="text/css" rel="stylesheet" href="/css/demo.css" />
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />
  <link type="text/css" rel="stylesheet" href="/css/admin.css" />
  <link rel="icon" href="images/pixel.png" sizes="128x128">
  <title>.EDU Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src="../assets/js/Test.js"></script> -->
</head>

<body style="background-color:whitesmoke">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div  class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li>
            <a href="AttendeeInfo">Attendee</a>
          </li>
        <li>
          <a href="presenterInfo">Presenter</a>
        </li>
        <li>
          <a href="vendorinfo">Vendor</a>
        </li>
        <li>
            <a href="studentInfo">Students</a>
          </li>
          <li>
            <a href="participants">Participants</a>
          </li>
          <li>
            <a href="proposalsInfo">List Of Proposals</a>
          </li>

          <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="UpdateConference">Update Program Details
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="center">
                        <a href="UpdateFeeDetails">Update Fee Details</a>
                        </li>
                      <li>
                        <a href="UpdateProgramDetails">Update Program Details</a>
                      </li>
                      <li>
                        <a href="UpdateDeadlines">Update Deadlines</a>
                      </li>
        
                </ul>
              </li>
      
        </ul>

        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-warning navbar-btn" onClick="location.href='/users/login'" style="font-size : 20px;" value="logout" name="logout">
            Logout
                </button>
               
        </ul>  
    </div>
  </nav>
  <!-- </body> -->