<br><br>
{{!-- <div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-3">
    <input class="btn btn-primary" stle:"width:100%" type="button" onClick="location.href='/users/signup'" value='SignUp'>
  </div>
</div> --}}
<br>
<div class="col-md-5"></div>

<div class="col-md-7"><br><br>
  <h2>Admin Login</h2><br><br>
</div>
<form method="post" action="/users/login">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-success">Submit</button></div>
      <div class="col-md-3">
      <input class="btn btn-info" type="button" onClick="location.href='/'" value='Home Page'>
    </div>
     <div class="col-md-3">
      <input class="btn btn-info" type="button" onClick="location.href='/forgotemail'" value='Forgot Password'>
    </div>
    <br>
    <br>
    {{!-- <div class="col-md-2"></div>
    <div class="col-md-8">
      <input class="btn btn-info" style="width:100%;" type="button" onClick="location.href='/'" value='Home Page'>

    </div> --}}
</form>