<% include headerAdmin %>

<style type="text/css">
    form {
        margin: 20px 0;
    }

    form input,
    button {
        padding: 5px;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #cdcdcd;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">


        <h1>Total Participants</h1>

        <% var count = 1 
   var number = attendeeList.length+presenterList.length
   +facultyList.length+vendorList.length+studentList.length;
%>

        <h2>
            <%= number %> Attendee's</h2>

        <table id="edit">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Attendee Type</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-Mail</th>
                    <th>Address</th>
                    <th>Contact Information</th>
                    <th>Dietary Restrictions </th>
                    <th>Programs</th>
                </tr>
            </thead>
            <% for(let i=0; i < attendeeList.length;i++){ %>
            <tr>
                <td>
                    <%= count %>
                </td>
                <td>Attendee</td>
                <td>
                    <%= attendeeList[i].firstName %>
                </td>
                <td>
                    <%= attendeeList[i].lastName %>
                </td>
                <td>
                    <%= attendeeList[i].email%>
                </td>
                <td>
                    <%= attendeeList[i].address%>
                </td>
                <td>
                    <%= attendeeList[i].contactNumber%>
                </td>
                <td>
                    <%= attendeeList[i].dietaryRestrictions %>
                </td>
                <td>
                    <%= attendeeList[i].programs %>
                </td>
            </tr>
            <%  count += 1;
} %>

            <% for(let i=0; i < studentList.length;i++){ %>
            <tr>
                <td>
                    <%= count %>
                </td>
                <td>Student</td>
                <td>
                    <%= studentList[i].firstName %>
                </td>
                <td>
                    <%= studentList[i].lastName %>
                </td>
                <td>
                    <%= studentList[i].email%>
                </td>
                <td>
                    <%= studentList[i].address%>
                </td>
                <td>
                    <%= studentList[i].contactNumber%>
                </td>
                <td>
                    <%= studentList[i].dietaryRestrictions %>
                </td>
                <td>
                    <%= studentList[i].programs %>
                </td>
            </tr>
            <%  count += 1;
} %>

<% for(let i=0; i < facultyList.length;i++){ %>
    <tr>
        <td>
            <%= count %>
        </td>
        <td>Faculty</td>
        <td>
            <%= facultyList[i].firstName %>
        </td>
        <td>
                <%= facultyList[i].lastName %>
            </td>
        <td>
            <%= facultyList[i].email%>
        </td>
        <td>
            <%= facultyList[i].address%>
        </td>
        <td>
            <%= facultyList[i].contactNumber%>
        </td>
        <td>
            <%= facultyList[i].dietaryRestrictions %>
        </td>
        <td>
                <%= facultyList[i].programs %>
            </td>
    </tr>
    <%  count += 1;
} %>

            <% for(let i=0; i < vendorList.length;i++){ %>
            <tr>
                <td>
                    <%= count %>
                </td>
                <td>Vendor</td>
                <td>
                    <%= vendorList[i].VendorType %>
                </td>
                <td>
                    <%= vendorList[i].contactName %>
                </td>
                <td>
                    <%= vendorList[i].contactEmail%>
                </td>
                <td>
                    <%= vendorList[i].companyName%>
                </td>
                <td>
                    <%= vendorList[i].contactEmail%>
                </td>
                <td>
                    <%= vendorList[i].dietaryRestrictions %>
                </td>
                <td>
                    <%= vendorList[i].programs %>
                </td>
            </tr>
            <%  count += 1;
} %>


            <% for(let i=0; i < presenterList.length;i++){ %>
            <tr>
                <td>
                    <%= count %>
                </td>
                <td>Presenter</td>
                <td>
                    <%= presenterList[i].Presenter_Name %>
                </td>
                <td>
                    <%= presenterList[i].Presenter_Email_Address%>
                </td>
                <td>
                    <%= presenterList[i].Presenter_Address%>
                </td>
                <td>
                    <%= presenterList[i].Presenter_Contact_Number%>
                </td>
                <td>
                    <%= presenterList[i].Presenter_Dietary_Restrictions %>
                </td>
            </tr>
            <%  count += 1;
} %>


        </table>
    </div>
</div>
<br>
<div class="row">
    &emsp;
    <div class="col-md-2"></div>
    <button id="btnExport" class="btn btn-primary" onclick="exportTableToExcel('myTable')">Export Table Data</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/exportData.js"></script>