<% include header %>

<div class="container">
  <div>
  <h2>Northwest Missouri State University</h2>
  <p>800 University Drive, OL246<br>
    Maryville, MO 64468<br>
    http://nwmissouri.edu/dotedu/</p>
</div>



<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">

    <table style="width:100%">
      <tr>
        <th>Name: </th>
        <td id="name"> <%=nameArray%></td>
      </tr>
<!--       
      <tr>
        <th>Address: </th>
        <td id="address"></td>
      </tr> -->
      <tr>
        <th>Amount for each Attendee: </th>
        <td id="amount"><%=attendeeRegistrationCost %> </td>
      </tr>
      <tr>
        <th>Number of Attendees: </th>
        <td id="numberofAttendees"><%=count%></td>
      </tr>'
      <tr>
        <th>Amount for each Paper Proceeding: </th>
        <td id="amount2"><%=paperProceedingsCost%></td>
      </tr>
      <tr>
        <th>Total number of Paper proceedings: </th>
        <td id="proceedings"><%=proceedings%></td>
      </tr>
      <tr>
        <th>Total amount: </th>
        <td id="totalAmount">$<%=totalAmount%></td>
      </tr>
    </table>


  </div>

</div>
  <!-- styling for the table -->
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  
    th,
    td {
      padding: 10px;
      text-align: left;
    }
  </style>

  <script>
    $(document).ready(function(){

    })
  </script>




<p>Make Checks Payable To:
  <br><b> Northwest Missouri State University</b><br></p>

<p> Please include a copy of this invoice with your payment!</p>
<p>If you have any questions regarding this invoice, Please contact<br>
  <b>Darla Runyon</b>
  <br> 660-562-1532
  <br> drunyon@nwmissouri.edu

  <br>

  <div>
    <button type="button" class="btn btn-success" onclick="window.print()"> Print Invoice </button>

  </div>
</div>