<% include header %>

<div class="container">
    <h2><span style=text-align:center>.Edu Conference Registration</span> </h2>
    <br>
    <br>
    <div class="row">
            <div class="col-md-3"></div>
        <form action="/presenterRegistration/paybycheck">
            <input class="proceedPaymentButton" type="Submit" value="Pay by Check">

        </form>
    </div>
    <br>
    <br>
    <div class="row">
            <div class="col-md-3"></div>
        <form action="/paybycard">
            <input class="proceedPaymentButton" type="Submit" value="Pay by Credit/Debit card">
        </form>
    </div>
</div>
<br>
<br>
<br>
<% include footer %>