<% include headerAdmin %>

<h1>Payment status Information</h1>


<table id="payment_Status">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Job Title</th>
            <th>Contact</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <% for(let i=0; i < listOfPaymentStatus.length;i++){ %>
        <tr>
        <td><%= i+1 %></td>
        <td><%= listOfPaymentStatus[i].Name %></td>
        <td><%= listOfPaymentStatus[i].Job_title%></td>
        <td><%= listOfPaymentStatus[i].Contact%></td>
        <td><%= listOfPaymentStatus[i].Payment_status%></td>
    </tr>
  <%  } %>
</table>