<% include header %>
<div class="col-md-12" style="text-align: center">
       <h1> Your proposal is succesfully submitted to .edu conference. Please wait for the conformation. Thank you
           </h1>
     
        <br>
        <br>
        <br>
        <br>
    </div>


<% include footer %>