<% include headerAdmin %>
<style type="text/css">
    form {
        margin: 20px 0;
    }

    form input,
    button {
        padding: 5px;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #cdcdcd;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h1>Presenter Information</h1>
        <h1>
            <%= listOfPresenters.length %> Records</h1>



        <table id="myTable">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-Mail</th>
                    <th>Address</th>
                    <th>Contact Information</th>
                    <th>Position Title</th>
                    <th>Dietary Restriction</th>
                    <th>Programs</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <% for(let i=0; i < listOfPresenters.length;i++){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= listOfPresenters[i].Presenter_FirstName %>
                </td>
                <td>
                    <%= listOfPresenters[i].Presenter_LastName%>
                </td>
                <td>
                    <%= listOfPresenters[i].Presenter_Email_Address%>
                </td>
                <td>
                    <%= listOfPresenters[i].Presenter_Address%>
                </td>
                <td>
                    <%= listOfPresenters[i].Presenter_Contact_Number %>
                </td>
                <td>
                    <%= listOfPresenters[i].Presenter_Position_Title %>
                </td>

                <td>
                        <%= listOfPresenters[i].Presenter_Dietary_Restrictions %>
                    </td>
                    <td>
                           <%=  listOfPresenters[i].programs %>
                    </td>
                    <form action="/presenterpayment" method="POST">
                        <input type="text" name="payment" value="<%= listOfPresenters[i].payment %>" hidden>
                        <input type="text" value="<%= listOfPresenters[i].Presenter_Email_Address %>" name="email1" hidden>
                        <%if(listOfPresenters[i].payment ==0){%>
                        <td><button type="submit" class="btn btn-primary">Mark as Paid</button></td>
                        <%}%>
                        <%if(listOfPresenters[i].payment !=0){%>
                        <td><button disabled class="btn btn-primary">Paid</button></td>
                        <%}%>
                    </form>
    
            </tr>
            <%  } %>
        </table>
    </div>
</div>

<br>
<div class="row">
    &emsp;
    <div class="col-md-2"></div>
    <button id="btnExport" class="btn btn-primary" onclick="exportTableToExcel('myTable')">Export Table Data</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/exportData.js"></script>