<% include header %>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <h3><b> Full Session or Lightning Round Proposal Submission</b></h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-5"> </div>
  <p style="font-weight:bold; color:green;font-size: 15px">Check the submission dedalines and formats <a href="/Deadlines">here</a></p>
</div>
<br>

<div class="container">
  <form id="Presenter" method="POST" action="/proposalsubmission">
    <!-- <div class="row"> -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="Presenter_Name">First Name *:</label>
        <!-- </div> -->

        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="lastName" name="firstName" placeholder="FirstName" required>
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="Presenter_Name">Last Name *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="lastName" name="lastName" placeholder="Last Name" required>
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="Presenter_Name">Position Title *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="positionTitle" name="positionTitle" placeholder="Position Title" required>
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="Presenter_Name">Institution *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="institution" name="institution" placeholder="Institution" required>
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="Presenter_Name">City *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="city" name="city" placeholder="City" required>
      </div>


      <!-- </div> -->
      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="state">State *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="state" name="state" placeholder="State" required>
      </div>


      <!-- </div> -->
      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="country">Country *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="country" name="country" placeholder="Country" required>
      </div>

      <!-- </div> -->
      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="zipcode">Zipcode *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="zipcode" name="zipcode" placeholder="Zipcode" required>
      </div>

      <!-- </div> -->
      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="emailAddress">Email Address *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="emailAddress" name="emailAddress" placeholder="Email Address" required>
      </div>

      <!-- </div> -->
      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="contactNumber">Contact Number *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="contactNumber" name="contactNumber" placeholder="Contact Number" required>
        <!-- </div> -->
      </div>

      <!-- </div> -->
      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="equimentNeeds">Do you have additional hardware or equipment needs? </label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <textarea style="border: 1px solid;border-radius: 5px" id="equimentNeeds" name="equimentNeeds" rows="4" cols="30"
          required></textarea>
        <!-- </div> -->
      </div>

      <div class="col-md-4"></div>
      <!-- <div class="row"> -->
      <div class="col-md-8" style="text-align: left">
        <label for="softwareNeeds">Do you have additional software needs? </label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <textarea style="border: 1px solid;border-radius: 5px" id="softwareNeeds" name="softwareNeeds" rows="4" cols="30"
          required></textarea>
        <!-- </div> -->
      </div>
      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="sessionTitle">Session Title *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <input class="input" type="text" id="sessionTitle" name="sessionTitle" placeholder="Session Title" required>
        <!-- </div> -->

      </div>


      <!-- <div class="row"> -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <label for="description">Brief Description for Publicity *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <textarea style="border: 1px solid;border-radius: 5px" id="description" name="description" rows="4" cols="30"
          required></textarea>
      </div>

      <!-- <div class="col-md-4"></div> -->
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <label for="Upload_Abstract">Upload Abstract *:</label>
          <!-- </div>
          <div class="col-md-6" style="text-align: right"> -->
          <!-- <body onload="myFunction()"> -->
          <input type="file" id="myFile" name="filetoupload">
          <!-- </body> -->
        </div>
        

      <div class="col-md-4"> </div>
      <div class="col-md-8" style="text-align: left">
        <label for="Dietary_Restrictions">Dietary Restrictions *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <select class="input" onselect="change()" name="dietaryRestrictions">
          <option value="Regular">Regular</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Gluten-free">Gluten Free</option>
        </select>
      </div>

      <div class="col-md-4"> </div>
      <div class="col-md-8" style="text-align: left">
        <label for="track">Track *:</label>
        <!-- </div> -->
        <!-- <div class="col-md-6" style="text-align: left"> -->
        <select class="input" onselect="change()" name="track">
          <option value="Access Services">Access Services</option>
          <option value="Technology">Technology</option>
          <option value="Administration">Administration</option>
          <option value="Instruction & Refrence">Instruction & Refrence</option>
          <option value="Collection Management">Collection Management</option>
          <option value="Archives">Archives</option>
        </select>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <!-- <div class="row"> -->
        <div class="col-md-6" style="text-align: left">
          <label for="softwareNeeds">Do you plan to submit a paper to be printed in the conference proceedings? </label><br>
          <!-- </div> -->
          <!-- <div class="col-md-6" style="text-align: left"> -->
          <br>
          <br>
          <div class="col-md-1"></div>
          <input type="radio" name="paper" value="Yes">Yes<br>
          <div class="col-md-1"></div>
          <input type="radio" name="paper" value="No">No
          <!-- </div> -->
        </div>
      </div>

      <!--Accept presenter -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <input type="text" name="accept" hidden>
      </div>


      <!-- Reject presenter -->
      <div class="col-md-4"></div>
      <div class="col-md-8" style="text-align: left">
        <input type="text" name="reject" hidden>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <br>
        <button class="btn btn-success btn-md" type="submit">Submit</button>
      </div>
    </div>
    <br>
    </form>
    <% include footer %>