<% include headerAdmin %>
<style type="text/css">
    form {
        margin: 20px 0;
    }

    form input,
    button {
        padding: 5px;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #cdcdcd;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }
</style>

<br>
<br><br>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
        <h3><b>&emsp;List Of Proposals</b></h3>
    </div>

    <h3>&emsp;
        <%= listOfProposals.length %> Records</h3>
</div>

<div class="col-md-1">
    <table id="edit">
        <thead>
            <tr>
                <th>S.No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position Title</th>
                <th>Institution Name</th>
                <th>Institution City</th>
                <th>Institution State</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>E-Mail</th>
                <th>Contact Number</th>
                <th>Equipment Needs</th>
                <th>Software Needs</th>
                <th>Print paper proceedings</th>
                <th>Session Title</th>
                <th>Brief Description</th>
                <th>Dietary Restrictions</th>
                <th>Track</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <% for(let i=0; i < listOfProposals.length;i++){ %>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= listOfProposals[i].firstName%>
            </td>
            <td>
                <%= listOfProposals[i].lastName%>
            </td>
            <td>
                <%= listOfProposals[i].positionTitle%>
            </td>
            <td>
                <%= listOfProposals[i].institution%>
            </td>
            <td>
                <%= listOfProposals[i].city%>
            </td>
            <td>
                <%= listOfProposals[i].state%>
            </td>
            <td>
                <%= listOfProposals[i].country%>
            </td>
            <td>
                <%= listOfProposals[i].zipcode%>
            </td>
            <td>
                <%= listOfProposals[i].emailAddress %>
            </td>
            <td>
                <%= listOfProposals[i].contactNumber %>
            </td>
            <td>
                <%= listOfProposals[i].equimentNeeds %>
            </td>
            <td>
                <%= listOfProposals[i].softwareNeeds %>
            </td>
            <td>
                <%= listOfProposals[i].paper %>
            </td>
            <td>
                <%= listOfProposals[i].sessionTitle%>
            </td>
            <td>
                <%= listOfProposals[i].description%>
            </td>
            <td>
                <%= listOfProposals[i].dietaryRestrictions%>
            </td>
            <td>
                <%= listOfProposals[i].track%>
            </td>

            <form action="/accept" method="POST">
                <input type="text" name="accept" value="<%= listOfProposals[i].accept %>" hidden>
                <input type="text" value="<%= listOfProposals[i].emailAddress %>" name="email1" hidden>
                <%if(listOfProposals[i].accept ==0){%>
                <td><button type="submit" class="btn btn-primary">Accept</button></td>
                <%}%>
                <%if(listOfProposals[i].accept !=0){%>
                <td><button disabled class="btn btn-primary">Accepted</button></td>
                <%}%>
            </form>

            <form action="/reject" method="POST">
                <input type="text" name="reject" value="<%= listOfProposals[i].reject %>" hidden>
                <input type="text" value="<%= listOfProposals[i].emailAddress %>" name="email1" hidden>
                <%if(listOfProposals[i].reject==0){%>
                <td><button type="submit" class="btn btn-danger">Reject</button></td>
                <%}%>
                <%if(listOfProposals[i].reject !=0){%>
                <td><button disabled class="btn btn-danger">Rejected</button></td>
                <%}%>
            </form>

        </tr>
        <%  } %>
    </table>
</div>
</div>

<br>
<div class="row">
    <div class="col-md-1"></div>
    &emsp;&emsp;&emsp;
    <button id="btnExport" class="btn btn-primary" onclick="exportTableToExcel('myTable')">Export Table Data</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/exportData.js"></script>