<% include header %>
<br>
<div class="row">
        &emsp;&emsp;&emsp;
        <div class="col-md-5"></div>
        
      <div class="col-md-6">
         
      <h3><b>Registration Fees</b></h3>
    </div>
    </div>
    <br>
<div class="col-md-2"></div>
<table id = "edit">
    <thead>
        <tr>
            <th>Registration Rate</th>
            <th>Registration fee</th>
            <th>What's Included</th>
        </tr>
    </thead>
    <% for(let i=0; i < feeDetails.length;i++){
        var id1= "registrationRate"+String(i)
        var id2 = "registrationFee"+String(i)
        var id3 = "whatIncluded"+String(i)
        %>
        
        <tr>
        <td id=<%= id1 %> ondblclick="modifyDeadlines(this ,'Please enter the new registration rate')"><%= feeDetails[i].registrationRate %></td>
        <td id=<%= id2 %> ondblclick="modifyRegistrationFee(this,'Please enter the new registration fee')">$ <%= feeDetails[i].registrationFee %></td>
        <td id=<%= id3 %> ondblclick="modifyDeadlines(this,'Please enter What is included')"><%= feeDetails[i].whatIncluded%></td>
    </tr>
  <%  } %>
</table>
<br>
<br>