<% include header %>


<script type="text/javascript">
  function displayForm(c) {
    if (c.value == "1") {

      document.getElementById("AttendeeContainer").style.visibility = 'visible';
      document.getElementById("PresenterContainer").style.visibility = 'hidden';
      document.getElementById("StudentContainer").style.visibility = 'hidden';
      document.getElementById("FacultyContainer").style.visibility = 'hidden';
      document.getElementById("VendorContainer").style.visibility = 'hidden';
      document.getElementById("ProceedContainer").style.visibility = 'visible';
    } else if (c.value == "2") {
      document.getElementById("AttendeeContainer").style.visibility = 'hidden';
      document.getElementById("PresenterContainer").style.visibility = 'visible';
      document.getElementById("StudentContainer").style.visibility = 'hidden';
      document.getElementById("FacultyContainer").style.visibility = 'hidden';
      document.getElementById("VendorContainer").style.visibility = 'hidden';
      document.getElementById("ProceedContainer").style.visibility = 'visible';
    }
    else if (c.value == "3") {
      document.getElementById("AttendeeContainer").style.visibility = 'hidden';
      document.getElementById("PresenterContainer").style.visibility = 'hidden';
      document.getElementById("StudentContainer").style.visibility = 'visible';
      document.getElementById("FacultyContainer").style.visibility = 'hidden';
      document.getElementById("VendorContainer").style.visibility = 'hidden';
      document.getElementById("ProceedContainer").style.visibility = 'visible';

    }
    else if (c.value == "4") {
      document.getElementById("AttendeeContainer").style.visibility = 'hidden';
      document.getElementById("PresenterContainer").style.visibility = 'hidden';
      document.getElementById("StudentContainer").style.visibility = 'hidden';
      document.getElementById("FacultyContainer").style.visibility = 'visible';
      document.getElementById("VendorContainer").style.visibility = 'hidden';
      document.getElementById("ProceedContainer").style.visibility = 'visible';
    }
    else if (c.value == "5") {
      document.getElementById("AttendeeContainer").style.visibility = 'hidden';
      document.getElementById("PresenterContainer").style.visibility = 'hidden';
      document.getElementById("StudentContainer").style.visibility = 'hidden';
      document.getElementById("FacultyContainer").style.visibility = 'hidden';
      document.getElementById("VendorContainer").style.visibility = 'visible';
      document.getElementById("ProceedContainer").style.visibility = 'visible';
    } else { }
  }

</script>


<form>
  <div class="row">
    <div class="col-md-5" style="text-align: right">
      <label>Please Select one of the category </label>
    </div>

    <div class="col-md-7" style="text-align: left">

      <input value="1" type="radio" id="aRegistration" name="formselector" onClick="displayForm(this)"></input>Attendee<br>
      <input value="2" type="radio" id="sRegistration" name="formselector" onClick="displayForm(this)"></input>Presenter<br>
      <input value="3" type="radio" id="fRegistration" name="formselector" onClick="displayForm(this)"></input>Student<br>
      <input value="4" type="radio" id="pRegistration" name="formselector" onClick="displayForm(this)"></input>Faculty<br>
      <input value="5" type="radio" id="vRegistration" name="formselector" onClick="displayForm(this)"></input>Vendor<br>
    </div>
  </div>
</form>
<div style="visibility:hidden" id="AttendeeContainer">
  <form id="Attendee" method="POST" action="/successRegistration">
    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Attendee_Name">Attendee Name *:</label>
      </div>

      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Attendee_Name" name="Attendee_Name" placeholder="FirstName LastName" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Email_Address">Email Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Email_Address" name="Email_Address" placeholder="Email address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Contact_Number">Contact Number *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Contact_Number" name="Contact_Number" placeholder="Contact Number" required>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Address">Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Address" name="Address" placeholder="Address" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Name_of_School">Name of School *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Name_of_School" name="Name_of_School" placeholder="Name of School" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Level_of_Education">Level of Education *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Level_of_Education" name="Level_of_Education" placeholder="Level of Education">
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Job_Title">Job Title *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Job_Title" name="Job_Title" placeholder="Job Title" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Dietary_Restrictions">Dietary Restrictions *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Dietary_Restrictions" name="Dietary_Restrictions" placeholder="Dietary Restrictions"
          required>
      </div>

    </div>
  </form>

</div>
<div style="visibility:hidden;position:relative;top:-70px;margin-top:-110px" id="PresenterContainer">
  <form id="Presenter">
    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Presenter_Name">Presenter Name *:</label>
      </div>

      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Presenter_Name" name="Presenter_Name" placeholder="FirstName LastName" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Presenter_Email_Address">Email Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Presenter_Email_Address" name="Presenter_Email_Address" placeholder="Email address"
          required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Presenter_Contact_Number">Contact Number *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Presenter_Contact_Number" name="Presenter_Contact_Number" placeholder="Contact Number"
          required>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Presenter_Address">Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Presenter_Address" name="Presenter_Address" placeholder="Address" required>
      </div>

    </div>


    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Presenter_Job_Title">Job Title *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Presenter_Job_Title" name="Presenter_Job_Title" placeholder="Job Title" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Presenter_Dietary_Restrictions">Dietary Restrictions *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Presenter_Dietary_Restrictions" name="Presenter_Dietary_Restrictions" placeholder="Dietary Restrictions"
          required>
      </div>

    </div>
    <br>
    <div>
      <div class="col-md-6" style="text-align: right">
        <label for="Upload_Abstract">Upload Abstract *:</label>
      </div>

      <body onload="myFunction()">

        <input type="file" id="myFile" multiple size="50" onchange="myFunction()">

        <p id="demo"></p>
  </form>
</div>


<div style="visibility:hidden;position:relative;top:-150px;margin-top:-110px" id="StudentContainer">
  <form id="Student">
    <div class="row">
      <div class="col-md-2" style="text-align: right">
        <label for="Student_Name">Student Name *:</label>
      </div>
      <div class="col-md-2" style="text-align: left">
        <input type="text" id="Student_Name" name="Student_Name" placeholder="FirstName LastName" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Student_Email_Address">Email Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Student_Email_Address" name="Student_Email_Address" placeholder="Email address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Student_Contact_Number">Contact Number *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Student_Contact_Number" name="Student_Contact_Number" placeholder="Contact Number"
          required>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Student_Address">Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Student_Address" name="Student_Address" placeholder="Address" required>
      </div>

    </div>


    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Student_Job_Title">Job Title *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Student_Job_Title" name="Student_Job_Title" placeholder="Job Title" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Student_Dietary_Restrictions">Dietary Restrictions *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Student_Dietary_Restrictions" name="Student_Dietary_Restrictions" placeholder="Dietary Restrictions"
          required>
      </div>

    </div>

  </form>
</div>


<div style="visibility:hidden;position:relative;top:-210px;margin-top:-110px" id="FacultyContainer">
  <!-- <form id="Faculty"> -->

  <form id="Faculty" method="POST" action="/send">
    Email:<br>
    <input type="email" name="emailId" placeholder="Enter email"><br /><br />
    <button type="submit">Submit</button>
    <!-- </form> -->

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Name">Faculty Name *:</label>
      </div>

      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Name" name="Faculty_Name" placeholder="FirstName LastName" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Email_Address">Email Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Email_Address" name="Faculty_Email_Address" placeholder="Email address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Contact_Number">Contact Number *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Contact_Number" name="Faculty_Contact_Number" placeholder="Contact Number"
          required>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Address">Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Address" name="Faculty_Address" placeholder="Address" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Number">919 Number *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Number" name="Faculty_Number" placeholder="Name of School" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Coupon">Enter the Coupon Code *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Coupon" name="Faculty_Coupon" placeholder="Level of Education">
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Faculty_Dietary_Restrictions">Dietary Restrictions *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Faculty_Dietary_Restrictions" name="Faculty_Dietary_Restrictions" placeholder="Dietary Restrictions"
          required>
      </div>

    </div>
  </form>
</div>


<div style="visibility:hidden;position:relative;top:-250px;margin-top:-110px" id="VendorContainer">
  <form id="Vendor">
    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Company_Name">Company Name *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Company_Name" placeholder="Company Name" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Vendor_Name">Attendee Name *:</label>
      </div>

      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Vendor_Name" name="Vendor_Name" placeholder="FirstName LastName" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Vendor_Email_Address">Email Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Vendor_Email_Address" name="Vendor_Email_Address" placeholder="Email address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right">
        <label for="Vendor_Contact_Number">Contact Number *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Vendor_Contact_Number" name="Vendor_Contact_Number" placeholder="Contact Number"
          required>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Company_Address">Company Address *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <input type="text" id="Company_Address" name="Company_Address" placeholder="Company Address" required>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6" style="text-align: right">
        <label for="Focus_Level">Focus Level *:</label>
      </div>
      <div class="col-md-6" style="text-align: left">
        <form action="">
          <input type="radio" name="Focus_Level" value="K-12"> K-12<br>
          <input type="radio" name="Focus_Level" value="HE"> HE<br>
          <input type="radio" name="Focus_Level" value="Both"> Both
        </form>
      </div>

    </div>
  </form>
</div>

<div style="visibility:hidden; position:relative;top:-110px;margin-top:-110px" id="ProceedContainer">
  <form id="proceedform" action="payment">
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <br>
        <button class="proceedPaymentButton" type="submit">Proceed to Payment</button>
      </div>
    </div>
  </form>
</div>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
<% include footer %>