<% include header %>
<style type="text/css">
  form{
      margin: 20px 0;
  }
  form input, button{
      padding: 5px;
  }
  table{
      width: 100%;
      margin-bottom: 20px;
  border-collapse: collapse;
  }
  table, th, td{
      border: 1px solid #cdcdcd;
  }
  table th, table td{
      padding: 10px;
      text-align: left;
  }
</style>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <h1>Schedule</h3>
    </div>
  </div>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7">
    <table>
      <thead>
        <th>BreakOut Session</th>
        <th>Time</th>
        <th>Activity</th>
        <th>Description</th>
        <th>Location</th>
      </thead>
      <tbody>
        <% for(let i = 0; i < scheduleList.length; i++) { %>
          <tr>
          <td><%= scheduleList[i].BreakOut_Session %></td>

        <td>
          <%= scheduleList[i].Time %>
        </td>
        <td>
          <%= scheduleList[i].Activity %>
        </td>
        <td>
            <%= scheduleList[i].Description %>
          </td>
        <td>
          <%= scheduleList[i].Location %>
        </td>
      </tr>

        <% } %>

      </tbody>
    </table>
  </div>
</div>






















<!-- <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #3CB371;
    }
    </style>

<h1> Schedule</h1>
<h2>Breakout Session #1</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Activity</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>9:00-9:55 a.m. </td>
    <td>Empowerment through Gamification: Designing Self-Directed Learning Experiences that Mean Something</td>
    <td>Meeting Room A</td>
  </tr>
  <tr>
    <td>9:00-9:55 a.m. </td>
    <td>Science + Social Learning = Student Success Through MySciLife</td>
    <td>Meeting Room B</td>
  </tr>
  <tr>
    <td>9:00-9:55 a.m. </td>
    <td>PASS: A User-Friendly Assessment Data Management System</td>
    <td>Meeting Room C</td>
  </tr>
  <tr>
    <td>9:00-9:55 a.m. </td>
    <td>Speed Sharing Sessions
High Quality OERs</td>
    <td>Meeting Room D</td>
  </tr>
</table>


<h2>Breakout Session #2</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Activity</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>10:00-10:55 a.m. </td>
    <td>Simulation Based Learning Concepts and Application</td>
    <td>Meeting Room A</td>
  </tr>
  <tr>
    <td>10:00-10:55 a.m. </td>
    <td>Feedback, Journaling, and Seesaw. Getting What We Need From Students</td>
    <td>Meeting Room B</td>
  </tr>
  <tr>
    <td>10:00-10:55 a.m. </td>
    <td>Building a School Culture that Empowers</td>
    <td>Meeting Room C</td>
  </tr>
  <tr>
    <td>10:00-10:55 a.m.</td>
    <td>Learner Engagement in an Online Course</td>
    <td>Meeting Room D</td>
  </tr>
</table>

<h2>Breakout Session #3</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Activity</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>11:00-11:55 a.m.</td>
    <td>Sharpen STEM Skills and Increase Student Interest in STEM Careers</td>
    <td>Meeting Room A</td>
  </tr>
  <tr>
    <td>11:00-11:55 a.m.</td>
    <td>Innovative Integration with iPaaS</td>
    <td>Meeting Room B</td>
  </tr>
  <tr>
    <td>11:00-11:55 a.m.</td>
    <td>Creating Accessible Documents in Microsoft Office</td>
    <td>Meeting Room C</td>
  </tr>
  <tr>
    <td>11:00-11:55 a.m.</td>
    <td>Improving Student Achievement</td>
    <td>Meeting Room D</td>
  </tr>
<tr>
    <td>Noon 2:00 p.m. </td>
    <td>Innovation Exhibition & Lunch </td>
    <td>Ballroom/Boardroom</td>
  </tr>
</table>


<h2>Breakout Session #4</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Activity</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>2:00-2:55 p.m.</td>
    <td>From 'Sit and Get' to 'Engage and Inspire': High-quality Engagement Techniques for the Learner-Centered Classroom</td>
    <td>Meeting Room A</td>
  </tr>
  <tr>
    <td>2:00-2:55 p.m.</td>
    <td>Globally Connected Teaching and Learning – Are You In?</td>
    <td>Meeting Room B</td>
  </tr>
  <tr>
    <td>2:00-2:55 p.m.</td>
    <td>The Cognitive Theory of Multimedia Learning (CTML) and its Application</td>
    <td>Meeting Room C</td>
  </tr>
  <tr>
    <td>2:00-2:55 p.m.</td>
    <td>Designing Towards A Better Education</td>
    <td>Meeting Room D</td>
  </tr>
</table>

<h2>Breakout Session #5</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Activity</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>3:00-3:55 p.m. </td>
    <td>WARNING: Graphic Content</td>
    <td>Meeting Room A</td>
  </tr>
  <tr>
    <td> 3:00-3:55 p.m. </td>
    <td>Active Learning Happens in the Library! Leveraging a New Active Learning Classroom to Become the Campus Active Learning Hub</td>
    <td>Meeting Room B</td>
  </tr>
  <tr>
    <td>3:00-3:55 p.m. </td>
    <td>How to Take Your Comic Strip Activity From Paper to a Digital Level</td>
    <td>Meeting Room C</td>
  </tr>
  <tr>
    <td>3:00-3:55 p.m. </td>
    <td>Focusing the Data</td>
    <td>Meeting Room D</td>
  </tr>
<tr>
    <td>4:00 p.m. </td>
    <td>Door Prizes and Closing</td>
    <td>Ballroom</td>
  </tr>
</table> -->

<% include footer %>