<div class="col-md-5"></div>
<div class="col-md-6">
  <h2>Sign Up</h2><br>
</div>
{{#if user}}
<div class="alert alert-danger">Username has taken already try new</div>
{{/if}} {{#if mail}}
<div class="alert alert-danger">Email has taken already try new</div>
{{/if}} {{#if errors}} {{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}
<form method="post" action="/users/signup">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
     <div class="col-md-1"></div>
    <div class="col-md-4"></div>
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type=button onclick="location.href='login'" class="btn btn-info" value = "Go to Login">
    </div>
</form>