<% include headerAdmin %>
<br><br><br><br>
<style type="text/css">
    form {
        margin: 10px 0;
    }

    form input,
    button {
        padding: 5px;
    }

    table {
        width: 80%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #cdcdcd;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4">
        <h1>Student Information </h1>
    </div>
</div>
<div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-11">
        <h2>
            <%= listOfStudents.length %> Records</h2>

        <table id="edit">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-Mail</th>
                    <th>Address</th>
                    <th>Contact Information</th>
                    <th>Institution Name</th>
                    <th>Institution City</th>
                    <th>Institution State</th>
                    <th>Zipcode</th>
                    <th>Country</th>
                    <th>Dietary Restrictions </th>
                    <th>Programs </th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <% for(let i=0; i < listOfStudents.length;i++){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%=listOfStudents[i].firstName %>
                </td>
                <td>
                    <%=listOfStudents[i].lastName %>
                </td>
                <td>
                    <%=listOfStudents[i].email%>
                </td>
                <td>
                    <%=listOfStudents[i].address%>
                </td>
                <td>
                    <%=listOfStudents[i].contactNumber%>
                </td>
                <td>
                        <%=listOfStudents[i].institutionName%>
                </td>
                <td>
                    <%=listOfStudents[i].institutionCity%>
                </td>
                <td>
                        <%=listOfStudents[i].institutionState%>
                </td>
                <td>
                    <%=listOfStudents[i].zipcode%>
                </td>
                <td>
                    <%=listOfStudents[i].country%>
                </td>
                <td>
                    <%=listOfStudents[i].dietaryRestrictions %>
                </td>
                <td>
                    <%=listOfStudents[i].programs %>
                </td>

                <form action="/studentpayment" method="POST">
                    <input type="text" name="payment" value="<%= listOfStudents[i].payment %>" hidden>
                    <input type="text" value="<%= listOfStudents[i].email %>" name="email1" hidden>
                    <%if(listOfStudents[i].payment ==0){%>
                    <td><button type="submit" class="btn btn-primary">Mark as Paid</button></td>
                    <%}%>
                    <%if(listOfStudents[i].payment !=0){%>
                    <td><button disabled class="btn btn-primary">Paid</button></td>
                    <%}%>
                </form>

            </tr>
            <%  } %>
        </table>
    </div>
</div>

<br>
<div class="row">
    &emsp;
    <button id="btnExport" class="btn btn-primary" onclick="exportTableToExcel('edit')">Export Table Data</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/exportData.js"></script>

<% include footerAdmin %>