<% include headerAdmin %>
<div class="container-fluid" id="align">
  <h1>Attendee Information</h1>

  <table id="myTable">
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Email</th>
        <th>Job title</th>
        <th>Contact</th>
        <th id="col">Payment Status</th>
        
      </tr>
      <tr>
        <td>1</td>
        <td>Maria Anders</td>
        <td>maria1@gmail.com</td>
        <td>Designer</td>
        <td>6604567834</td>
        <td>Paid</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Aaron williams</td>
        <td>aaron21@gmail.com</td>
        <td>Professor</td>
        <td>6601234834</td>
        <td>Paid</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Matthew</td>
        <td>matt2331@gmail.com</td>
        <td>Software Engineer</td>
        <td>3304566834</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>4</td>
        <td>John wubala</td>
        <td>john2k1@gmail.com</td>
        <td>Tester</td>
        <td>4354567834</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Deah Macwallace</td>
        <td>macdaeh1@gmail.com</td>
        <td>Developer</td>
        <td>8765457834</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Magazzini Alimentari Riuniti</td>
        <td>magazz007@gmail.com</td>
        <td>Student</td>
        <td>8686825334</td>
        <td>Pending</td>
      </tr>
    </table>
    <br><br>
    <form method="GET" action="/getData">
            <button type="submit" class="btn btn-primary">
              Registration Details
            </button>
          </form>
    <div class="container">
      <button type="button" class="btn btn-primary" style="font-size : 20px;" onclick="function_count()" value="totalCount" name="totalCount">
          Total Attendee Count
          </button>

          <button type="button" class="btn btn-primary" style="font-size : 20px;" onclick="function_paid()" value="totalpaid" name="totalpaid">
                Paid
                </button>
    </div>
    <script>
      function function_count(){
       var x = Number(document.getElementById("myTable").rows.length)-1;  
       document.getElementById("tot").innerHTML="Total number of Attendees: "+x;
      };
      function function_paid()
      {
        var paid=0;
        var pending=0;
        var table = document.getElementById('myTable');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                //alert(table.rows[r].cells[c].innerHTML);
                if(table.rows[r].cells[c].innerHTML=="Paid")
                {
                    paid=paid+1;
                }
                    if(table.rows[r].cells[c].innerHTML=="Pending")
        {
              pending=pending+1;
          }               
      }
  }
  document.getElementById("tot1").innerHTML="The total count of attendees paid: "+paid+" and pending: "+pending;
};
</script>
<div>
  <button type = "button" class="btn btn-success" onclick="window.print()"> Print </button>
</div>

<p id="tot" class="set"></p>
<p id="tot1" class="set"></p>

<% include footer %>