<% include header %>

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1>Travel and Lodge</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h3><b>Traveling Address</b></h2>
    </div>
</div>

<div class="row" style="text-align: center">
    <div class="col-md-12">
        <p> Northwest Missouri State University<br>J.W. Jones Student Union<br>800 University Drive<br>Maryville,
            MO , 64468</p>

        <div id="nwmsuMap" style="width:100%;height:360px;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h2><br><b>Lodging</b></h2>
    </div>
</div>
<div class="row" style="text-align: center">
    <div class="col-md-6">
        <h3> Hoilday Inn Express</h3>
        <p>600-562-9949<br>2929 South Main Street | Maryville, MO 64468</p>
        <!-- <h4>Room Information:</h4>
        <p>All rooms include a hot breakfast and free WiFi<br> Standard Room conference rate is $93.00 per room
            per night<br> Suite conference rate is $103.00 per room per night.<br> Cut off date is september 2,
            2018. Block code is
            DEC and rooms may be booked directly at hotel 660-562-9949. <br></p> -->

        <div id="holidayInnMap" style="width:100%;height:360px;"></div>
    </div>
    <!-- </div>

<div class="row" style="text-align: center"> -->
    <div class="col-md-6">
        <h3> Red Roof Inn</h3>
        <p>660-562-2002<br>2817 S Main Street | Maryville , MO 64468</p>
            <!-- <h4> Room Information</h4>
            <p>All rooms include a hot breakfast and free WiFi.
                <br>2 queen beds conference rate is $79.00/night.
                <br>King bed conference rate is $79.00/night.
                <br>Cut off Dste is August 23,2018
                <br>Block code is NWMSU and rooms may be booked dierectly at hotel 660-562-2002.</p> -->

            <div id="redRoofInnMap" style="width:100%;height:360px;"></div>
    </div>
</div>

<script>
    function googleMaps() {
        var nwmsu = {
            center: new google.maps.LatLng(40.352089, -94.882797),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            // marker: new google.maps.Marker({position:center});

        };
        var holidayInn = {
            center: new google.maps.LatLng(40.317034, -94.872465),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var redRoofInn = {
            center: new google.maps.LatLng(40.319211, -94.872596),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map1 = new google.maps.Map(document.getElementById("nwmsuMap"), nwmsu);
        var map2 = new google.maps.Map(document.getElementById("holidayInnMap"), holidayInn);
        var map3 = new google.maps.Map(document.getElementById("redRoofInnMap"), redRoofInn);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQGG7KYapHqWGgANwDEj7NRCwGALOAuc4&callback=googleMaps"></script>

<% include footer %>