<% include headerAdmin %>
<br><br><br><br>
<!-- <div class="col-md-4"></div>
<div class="topnav">
    <ul class="nav navbar-nav">
        <li class="center">
            <a class="active" href="/UpdateFeeDetails">Update Fee Details</a>
        </li>
        <li>
            <a href="/UpdateProgramDetails">Update Program Details</a>
        </li>
        <li>
            <a href="/UpdateDeadlines">Update Deadlines</a>
        </li>
    </ul>
</div> -->
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
<h1>Fee Details</h1>
</div>
</div>
<br>
<div class="col-md-2"></div>
<table id="edit">
    <thead>
        <tr>
            <th>Registration Rate</th>
            <th>Registration fee</th>
            <th>What's Included</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% for(let i=0; i < feeDetails.length;i++){
        var id1= "registrationRate"+String(i)
        var id2 = "registrationFee"+String(i)
        var id3 = "whatIncluded"+String(i)
        var include = "include"+String(i)
        var fee = "fee"+String(i);
        %>

    <tr>
        <td id=<%=id1 %>>
            <%= feeDetails[i].registrationRate %>
        </td>
        <td id=<%=id2 %> ondblclick="modifyRegistrationFee(this,'Please enter the new registration fee', `<%= fee %>`)">$
            <%= feeDetails[i].registrationFee %>
        </td>
        <td id=<%=id3 %> ondblclick="modifyIncluded(this,'Please enter What is included')">
            <%= feeDetails[i].whatIncluded%>
        </td>

        <!-- <form action="/modifyFeeDetails" method="POST" style="align-content:center" id="modifyFee">
            <input type="text" name="selectedId" value="<%= feeDetails[i]._id %>" hidden>
            <input type="text" name="regRate" value="<%= feeDetails[i].registrationRate %>" hidden>
            <input type="text" id= <%=fee%> name="fee" value="<%= feeDetails[i].registrationFee %>" hidden>
            <input type="text" id=<%=include%> name="whatIncluded" value="
            <%= feeDetails[i].whatIncluded %>" hidden>
            <td><button type="submit" class="btn btn-warning">Update</button></td>
        </form> -->

        <td><button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#editModal" 
            onclick="passValues(`<%= feeDetails[i].registrationRate%>`, `<%= feeDetails[i].registrationFee%>`, `<%= feeDetails[i].whatIncluded%>`)">Edit</button></td>

        <form onsubmit="return confirm('Do you want to delete the recod?')" action="/deleteFeeDetails" method="POST">
            <input type="text" name="selectedId" value="<%= feeDetails[i]._id %>" hidden>
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </form>

    </tr>
    <%  } %>
</table>
<br>
<br>
<div class="col-md-5"></div>
<div class="col-md-2">
    <!-- <button class="btn btn-primary" onclick="addDeadline('edit')">Add New Category</button> -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New Program</button>
</div>

<form method="POST" action="/newRate">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Registration Rate</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            Registration Rate
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="registrationRate" placeholder="Registration Rate">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            Registration Fee
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="registrationFee" placeholder="Registration Fee">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            What's Included
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="whatIncluded" placeholder="What's Included">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>

<form method="POST" action="/modifyFeeDetails">
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modify Registration Rate</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            Registration Rate
                        </div>
                        <div class="col-md-6">
                            <input id = "regRate" type="text" name="registrationRate" placeholder="Registration Rate">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            Registration Fee
                        </div>
                        <div class="col-md-6">
                            <input id = "regFee" type="text" name="registrationFee" placeholder="Registration Fee">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            What's Included
                        </div>
                        <div class="col-md-6">
                            <input id = "included" type="text" name="whatIncluded" placeholder="What's Included">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>

<script>

    function passValues(rate, fee, included){
        console.log(included);
        document.getElementById('regRate').value = rate;
        document.getElementById('regFee').value = fee;
        document.getElementById('included').value = included;
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/updateConference.js"></script>