<%include headerAdmin%>
<br><br><br><br>
<!-- <div class="col-md-4"></div>
<div class="topnav">
    <ul class="nav navbar-nav">
        <li class="center">
            <a href="/UpdateFeeDetails">Update Fee Details</a>
        </li>
        <li>
            <a href="/UpdateProgramDetails">Update Program Details</a>
        </li>
        <li>
            <a class="active" href="/UpdateDeadlines">Update Deadlines</a>
        </li>
    </ul>
</div> -->
<div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
    <h1>Important Dates</h1>
    </div>
    </div>
<br>
<div class="col-md-4"></div>
<div class="col-md-4"></div>
<br>
<!-- <div class="col-md-2"></div> -->
<!-- <h3 style="text-align:center">Update Deadlines</h3> -->

<div class="col-md-2"></div>
<table id="edit">
    <thead>
        <tr>
            <th>
                Program Name
            </th>
            <th>Date</th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <% for(let i=0; i < deadlines.length;i++){ 
        var id1= "deadlines"+String(i)
        var name = "editdeadline"+String(i)
        %>
    <tr>
        <td>
            <%= deadlines[i].programName %>
        </td>
        <td id=<%=id1 %> ondblclick="modifyDeadlines(this,'Please enter the new deadline',`
            <%= name %>`)">
            <%= deadlines[i].date%>
        </td>


        <!-- <form action="/modifydeadline" method="POST" style="align-content:center" id="modify">
            <input type="text" name="selectedId" value="<%= deadlines[i]._id %>" hidden>
            <input type="text" name="progName" value="<%= deadlines[i].programName %>" hidden>
            <input type="text" id=<%=name%> name="deadline" value="
            <%= deadlines[i].date %>" hidden>
            <td><button type="submit" class="btn btn-warning">Update</button></td>
        </form> -->
        <td><button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#editModal"
            onclick="passValues(`<%= deadlines[i].programName%>`, `<%= deadlines[i].date%>`)">Edit</button></td>

        <form onsubmit="return confirm('Do you want to delete the recod?')" action="/deletedeadline" method="POST">
            <input type="text" name="selectedId" value="<%= deadlines[i]._id %>" hidden>
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </form>

        <!-- <td> -->
        <!-- <button type="submit" class="btn btn-warning">Modify</button> -->
        <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateDeadline">Modify</button> -->
        <!-- &emsp;&emsp; -->
        <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
        <!-- </td> -->
    </tr>
    <%  } %>

</table>


<br>
<br>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <!-- <button class="btn btn-primary" onclick="addDeadline('edit')">Add New Category</button> -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New Program</button>
    </div>
    <!-- <button type="submit" class="btn btn-success btn-lg">Save</button> -->
</div>
<br>
<br>
<br><br>

<form method="POST" action="/newDeadline">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Program</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            Program Name
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="programName" placeholder="Program Name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            Date
                        </div>
                        <div class="col-md-8">
                            <input type="datetime-local" name="date" placeholder="Date">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>

<form method="POST" action="/modifydeadline">
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Program</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            Program Name
                        </div>
                        <div class="col-md-8">
                            <input id="prgName" type="text" name="programName" placeholder="Program Name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            Date
                        </div>
                        <div class="col-md-8">
                            <input id="date1" type="datetime-local" name="date" placeholder="Date">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>


<!-- <form method="POST" action="/newDeadline">
    <div class="modal fade" id="updateDeadline" role="dialog">
        <div class="modal-dialog"> -->

<!-- Modal content-->

<!-- <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Program Deadline</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            Program Name
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="programName" placeholder="Program Name" value="">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            Date
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="date" placeholder="Date">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form> -->

<script>

    function passValues(prgName,deadline){
        console.log(deadline);
        document.getElementById('prgName').value = prgName;
    }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/updateConference.js"></script>