<% include headerAdmin %>
<br><br><br><br>

<div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <h1>Program Schedule</h1>
        </div>
    </div>

<!-- <div class="row">
    <div class="col-md-4" style="text-align: center"></div>
    <div class="topnav">
        <ul class="nav navbar-nav">
            <li class="center">
                <a href="/UpdateFeeDetails">Update Fee Details</a>
            </li>
            <li>
                <a class="active" href="/UpdateProgramDetails">Update Program Details</a>
            </li>
            <li>
                <a href="/UpdateDeadlines">Update Deadlines</a>
            </li>
        </ul>
    </div>
</div> -->


<!-- <section id="br">
<table id="table1">
    <tr>
    <td><label>BreakOut Session </label></td>
    <td><input type="submit" class="button" value="Add Session" onclick="addSession()" /></td>
        <tr>
            
            <td><input type="text" value="Activity" /></td>
            <td><input type="text" value="Time" /></td> 
            <td><input type="text" value="Room" /></td>   
            <td><input type="submit" class="button" value="Add Activity" onclick="addField(this);" /></td>          
        </tr>
    </table>
    
</section>
    
<table id="table2" style="display: none" >
        <tr>
        <td><label>BreakOut Session </label></td>
        <td><input type="submit" class="button" value="+" onclick="addSession()" /></td>
            <tr>
                
                <td><input type="text" value="Activity" /></td>
                <td><input type="text" value="Time" /></td> 
                <td><input type="text" value="Room" /></td>   
                <td><input type="submit" class="button" value="Add Activity" onclick="addField(this);" /></td>          
            </tr>
        </table>   `
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script > 
    function addField(n)
     {
       var tr = n.parentNode.parentNode.cloneNode(true);
       n.parentNode.parentNode.parentNode.appendChild(tr);
     }
   function addSession(){
        $("#br").append( "<table>" + document.getElementById('table2').innerHTML + "</table>")
     }
</script> -->

<!-- <div class="row">
    <div class="col-md-12"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>BreakOut Session</label>
        <input id="breakOut" class="breakOut" type="text">

        <table>
            <tr>
                <th>Time</th>
                <th>Activity</th>
                <th>Location</th>
                <th>BreakOut Session</th>
            </tr>
            <div id="table"></div>
        </table>
    </div>

    <div class="col-md-11">
        <input id="add" class="add" type="button" value="Add activity">
    </div>
</div>

<script>


</script> -->

<style type="text/css">
    form{
        margin: 20px 0;
    }
    form input, button{
        padding: 5px;
    }
    table{
        width: 100%;
        margin-bottom: 20px;
		border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid #cdcdcd;
    }
    table th, table td{
        padding: 10px;
        text-align: left;
    }
</style>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
    var rowNumber = 0;
    var act;
    $(document).ready(function () {
         rowNumber = 0;
            $(".addSession").click(function () {

                rowNumber+=1;
                // act = '/attendeeRegistration/UpdateProgramDetails';

                var addanotherRow = "<tr><td><input type='checkbox' name='record'></td><td>" + "<input type='text' name='breakOut"+ rowNumber +"'>" + "</td><td>"
                    + "<input type='text' name='time"+rowNumber+"'>" + "</td><td>" + "<input type='text' name='activity"+rowNumber+"'>" + "</td><td>" + "<input type='text' name='description"+rowNumber+"'>" + "</td><td>" + "<input type='text' name='location"+rowNumber+"'>" + "</td></tr>";

                $("table tbody").append(addanotherRow);
            });

            // Find and remove selected table rows
            $(".deleteSession").click(function () {
                $("table tbody").find('input[name="record"]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
        });    
</script>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
    <form>
         <input type="number" hidden id="breakOut" placeholder="BreakOut Session"> <br>
         <input type="text" hidden id="time" placeholder="Time"> <br>
         <input type="text" hidden id="activity" placeholder="Activity"> <br>
         <input type="text" hidden id="description" placeholder="Description"> <br>

         <input type="text" hidden id="location" placeholder="Location"> <br>
    	<input type="button" class="addSession" hidden value="Add Session">
    </form>

    <form id="programDetails" method="POST" action="/attendeeRegistration/UpdateProgramDetails">
        <table>
            <thead>
                <tr>
                    <!-- <th>Select</th> -->
                    <th>BreakOut Session</th>
                    <th>Time</th>
                    <th>Activity</th>
                    <th>Description</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td><input type='checkbox' name='record'></td> -->
                    <td><input type='number' name='breakOut'></td>
                    <td><input type='text' name='time'></td>
                    <td><input type='text' name='activity'></td>
                    <td><input type='text' name='description'></td>
                    <td><input type='text' name='location'></td>
                </tr>
            </tbody>
        </table>
        <button type="button" hidden class="deleteSession">Delete Session</button>
        <button type="submit" class="save" id="save">save</button>
    </form>
    
    </div>
    </div>

    <br><br><br><br><br><br>
    
<div class="row">
    <div class="col-md-2">   </div>
    <div class="col-md-7">
            <h1>BreakOut Sessions </h1>

    <!-- <form id="program" method="POST" action="/attendeeRegistration/editProgramDetails"> -->
        <table>
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>BreakOut Session</th>
                    <th>Time</th>
                    <th>Activity</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < breakOutSession.length ; i++)  { %>
                <tr>
                    <!-- <td><input type='checkbox' name='record'></td> -->
                <form method="POST" action="/attendeeRegistration/editProgram">
                    <td><input type='number' id="breakOut<%= breakOutSession[i]._id %>" name='breakOut' value="<%= breakOutSession[i].BreakOut_Session %>"></td>
                    <td><input type='text' id="time<%= breakOutSession[i]._id %>" name='Time' value="<%= breakOutSession[i].Time %>"></td>
                    <td><input type='text' id="activity<%= breakOutSession[i]._id %>" name='Activity' value="<%= breakOutSession[i].Activity %>"></td>
                    <td><input type='text' id="description<%= breakOutSession[i]._id %>" name='Description' value="<%= breakOutSession[i].Description %>"></td>
                    <td><input type='text' id="location<%= breakOutSession[i]._id %>" name='Location' value="<%= breakOutSession[i].Location %>"></td>
                    <td>
                        
                            <input type="text" id="editId" name="editId" hidden value="<%= breakOutSession[i]._id %>">
                            <button type="submit">edit</button>
                        
                        
                    </td>
                </form>
                
                    <td>
                           
                        <form onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="/attendeeRegistration/deleteProgram">
                            <input type='text' id="perfId2" name='perfId2'hidden value="<%= breakOutSession[i]._id %>">
                            <!-- <input type="text" name="perfId2" value="<%= breakOutSession[i]._id %>"> -->
                            <button type="submit">delete</button>
                        </form>
                    </td>

                </tr>
           <% } %>
            </tbody>
        </table>
    <!-- </form> -->
</div>
</div>


<% include footerAdmin %>