<% include headerAdmin %>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="topnav">

            <div class="topnav-centered">
                <a href="UpdateFeeDetails">Update Fee Details</a>
            </div>

            <a href="UpdateProgramDetails">Update Program Details</a>

            <div class="topnav-right">
                <a href="UpdateDeadlines">Update Deadlines</a>
            </div>
        </div>
    </div>
</div>
<style>
h1{
    color: green;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>


<img src="images/update.jpg", width="10%", height="10%">

<h1>UPDATED SUCCESFULLY</h1>

