<% include header %>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #3CB371;
    }
    </style>
    
<p>Please join as an exhibitor for the .EDU Conference where you can communicate with higher education and K-12 faculty, as well as students from universities!  Choose from one of three exhibit levels below.</p>

<h2>Sponsorship Level </h2>

<table>
    <tr>
      <th>Level</th>
      <th>Registration Fee</th>
      <th>What's Included</th>
    </tr>
    <tr>
      <td>Green </td>
      <td> $500</td>
      <td>Present with an educator, table, social media banner, marketing info in attendee package</td>
    </tr>
    <tr>
      <td>White </td>
      <td> $300 </td>
      <td>Info in attendee package, table</td>
    </tr>
    <tr>
        <td>Gray </td>
        <td> $200 </td>
        <td>Table</td>
      </tr>
</table>

<h2> Sponsorship Opportunities </h2>

<p>.EDU is also interested in sponsors for the events listed below.  Sponsors are provided with advertisement of the sponsorship in the program as well as at the event and on the web site. Sponsorships will be issued an invoice for payment via check.</p>

<table>
    <tr>
      <th>Opportunity</th>
      <th>Cost</th>
    </tr>
    <tr>
        <th>Breakfast</th>
        <th>Based on total number of attendees at $10/each</th>
    </tr>
    <tr>
        <th>Lunch</th>
        <th>Based on total number of attendees at $12/each</th>
    </tr>
    <tr>
        <th>Snacks</th>
        <th>Based on total number of attendees at $5/each</th>
      </tr>
      <tr>
        <th>Network Dinner</th>
        <th> Based on total number of attendees at $20/each </th>
      </tr>
      <tr>
        <th>Swag</th>
        <th> $500 </th>
      </tr>
      <tr>
        <th>Shuttle</th>
        <th> $200 </th>
      </tr>
      <tr>
        <th>Door Prices</th>
        <th> $1000 </th>
      </tr>
</table>


<% include footer %>
