<% include headerAdmin %>

<style type="text/css">
    form {
        margin: 20px 0;
    }

    form input,
    button {
        padding: 5px;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #cdcdcd;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }
</style>
<br><br><br><br>
<div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <h1>Vendor Information </h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <h2>
            <%= listOfVendors.length %> Records</h2>

        <table id="edit">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Vendor Type</th>
                    <th>Company Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Website URL</th>
                    <th>Contact Name</th>
                    <th>Contact Title</th>
                    <th>Contact Phone</th>
                    <th>Contact Email</th>
                    <th>Dietary Restrictions</th>
                    <th>Programs</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <% for(let i=0; i < listOfVendors.length; i++){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= listOfVendors[i].VendorType%>
                </td>
                <td>
                    <%= listOfVendors[i].companyName%>
                </td>
                <td>
                    <%= listOfVendors[i].city%>
                </td>
                <td>
                    <%= listOfVendors[i].state %>
                </td>
                <td>
                    <%= listOfVendors[i].zipcode %>
                </td>
                <td>
                    <%= listOfVendors[i].websiteURL %>
                </td>
                <td>
                    <%= listOfVendors[i].contactName%>
                </td>
                <td>
                    <%= listOfVendors[i].contactTitle%>
                </td>
                <td>
                    <%= listOfVendors[i].contactPhone%>
                </td>
                <td>
                    <%= listOfVendors[i].contactEmail %>
                </td>
                <td>
                    <%= listOfVendors[i].dietaryRestrictions %>
                </td>
                <td>
                    <%= listOfVendors[i].programs %>
                </td>

                <form action="/vendorpayment" method="POST">
                    <input type="text" name="payment" value="<%= listOfVendors[i].payment %>" hidden>
                    <input type="text" value="<%= listOfVendors[i].contactEmail %>" name="email1" hidden>
                    <%if(listOfVendors[i].payment ==0){%>
                    <td><button type="submit" class="btn btn-primary">Mark as Paid</button></td>
                    <%}%>
                    <%if(listOfVendors[i].payment !=0){%>
                    <td><button disabled class="btn btn-primary">Paid</button></td>
                    <%}%>
                </form>

            </tr>
            <%  } %>
        </table>
    </div>
</div>

<br>
<div class="row">
    &emsp;
    <div class="col-md-1"></div>
    <button id="btnExport" class="btn btn-primary" onclick="exportTableToExcel('myTable')">Export Table Data</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="/js/exportData.js"></script>