#myTable{
	float:right-side ;
    background-size: 100%;
	background-repeat:no repeat;
	color: black;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}
.set{
	color: black;
	font-family: bold;
	text-align: center;
	font-size: 32px;
	font-family: 'Times New Roman', Times, serif; 
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
}
li{

	float: left;
	tab-size:4;
	
}
li a {
    display: block;
    color: white;
    text-align: center;
   padding: 20px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: powderblue;
}

.active {
    background-color: powderblue;
}

.container{
	display: inline;
	text-align-last: center;
	text-justify: left;
}

.button{
	 background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
}

.paragraphFormat{
	text-align: left;	
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

p{
	text-align: left;
}